SELECT name
FROM `Facilities`
WHERE membercost > 0.0;

SELECT COUNT( * )
FROM `Facilities`
WHERE membercost = 0.0;

SELECT facid, name, membercost, monthlymaintenance
FROM `Facilities`
HAVING membercost < ( monthlymaintenance * 0.2 );

SELECT *
FROM `Facilities`
WHERE facid <> 0
AND facid NOT BETWEEN 2 AND 4
AND facid NOT BETWEEN 6 AND 8;

SELECT name, monthlymaintenance,
CASE WHEN monthlymaintenance > 100
THEN 'Expensive'
ELSE 'Cheap'
END AS rankbyprice
FROM `Facilities`;

SELECT firstname, surname
FROM `Members`
ORDER BY joindate DESC;

SELECT f.name AS facilityname, Concat(m.firstname, ' ', m.surname) AS fullname 
FROM `Facilities` AS f, `Members` AS m 
WHERE f.name LIKE 'Tennis%' 
ORDER BY fullname;

SELECT name, Concat(firstname, ', ', surname) AS fullname, membercost, guestcost 
FROM Facilities 
WHERE starttime = '2012-09-14' AND membercost > 30.0 OR guestcost > 30.0 
ORDER BY membercost DESC, guestcost DESC;

SELECT name, Concat(firstname, ', ', surname) AS fullname, membercost, guestcost 
FROM Facilities 
WHERE starttime = '2012-09-14' 
AND membercost > (SELECT * FROM Bookings HAVING membercost * slots) 
OR guestcost > (SELECT * FROM bookings WHERE memid = 0 HAVING guestcost * slots) 
ORDER BY membercost DESC, guestcost DESC;